.App {
    background-image: url(https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);    
    background-size: 100% auto;
    height: 100vh;
}
.toolBur {
    display: flex;
    justify-content: space-between;
}
.iconBlock {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}